/* Login.module.css */
.loginContainer {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginTitle {
  text-align: center;
  color: #007bff;
  font-weight: bold;
  font-size: 30px;
}

.loginLabel {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.loginInput {
  width: 100%;
  padding: 14px; /* Aumentado para más espacio interno */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.loginInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.loginError {
  color: red;
  font-size: 14px;
}

.loginSubmitBtn {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.loginSubmitBtn:hover {
  background-color: #0056b3;
}
