.add-expense-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s ease-in-out;
}

.add-expense-button:hover {
  background-color: #4682b4;
  transform: scale(1.1);
}
