
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
}

.navbar button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
