.members-list {
    list-style: none;
    padding: 0;
}

.members-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
    color: #694646;
}

.members-list li span:last-child {
    font-weight: bold;
}

.members-list li span.positive {
    color: rgb(86, 74, 105);
}

.members-list li span.negative {
    color: red;
}
