.app {
    /* background-color: #222222; */
    min-height: 100dvh;
    transition: all .3s ease;
}

.appDark {
    background-color: var(--bg-dark-mode);
}

.main {
    width: min(90%, 120rem);
    margin: 0 auto;
    padding: 20px 0;
}