* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark-mode: #09090b;
    --secondary-bg-dark-mode: #333333;
    --color-dark-mode: #FAFAFA;
    --border-color-dark-mode: #27272a;
}