body {
    font-family: Arial, sans-serif;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    width: min(90%, 120rem);
    margin: 0 auto;
    
}

.headerDark {
    color: var(--color-dark-mode);
}

.logo {
    logo {
        font-size: 28px;
        font-weight: 600px;
        color: var(--color-primary);
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        transition: color 0.3s ease;
        font-weight: bold;
       
    }
}

.nav {
    display: flex;
    gap: 15px;
}

.navItem {
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navItem:hover {
    background-color: #1e90ff;
    color: white;
}

.navItemDark {
    color: var(--color-dark-mode);
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}