.registerContainer {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registerTitle {
  text-align: center;
  color: #007bff;
  font-weight: bold;
  font-size: 30px;
}

.registerLabel {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.registerInput {
  width: 100%;
  padding: 14px; /* Aumentado para más espacio interno */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.registerInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.registerErrorMessage {
  color: red;
  font-size: 14px;
}

.registerSubmitButton {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.registerSubmitButton:hover {
  background-color: #0056b3;
}

.registerPreviewImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #007bff;
}
.registerInputFile {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  width: 100%;
  background-color: #f9f9f9;
  display: block;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none; /* Oculta el texto de selección del archivo en WebKit */
  appearance: none; /* Oculta el texto de selección en otros navegadores */
}

.registerInputFile::file-selector-button {
  display: none; /* Oculta el texto y el botón predeterminado */
}

.registerInputFile:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
